@import "../../styles/mixin.scss";

.songlist-box {
	display: flex;
	flex-direction: column;
	@include wh(100%, 100%);
	.img-wrapper {
		position: relative;
		.count {
			position: absolute;
			top: 5px;
			right: 5px;
			@include sc($font_small, #fff);
		}
		.sub {
			position: absolute;
			bottom: 5px;
			left: 5px;
			@include sc($font_small, #fff);
		}
	}
	.title {
		@include more;
		@include sc($font_normal, $gray);
		line-height: 1.5;
	}
}
