@import "../../styles/mixin.scss";

.m-login {
	position: fixed;
	top: 0;
	left: 0;
	@include wh(100%, 100%);
	background: $theme;
	.login-logo {
		position: relative;
		@include wh(100%, 60%);
		.logo-wrapper {
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -30px 0 0 -30px;
			@include wh(60px, 60px);
			border-radius: 50%;
			text-align: center;
			line-height: 60px;
			background: $logo;
			.iconfont {
				@include sc(48px, #fff);
			}
		}

		.dot {
			position: absolute;
			@include wh(72px, 72px);
			left: 50%;
			top: 50%;
			transform: translate(-38px, -38px);
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border: 2px solid $bgc;
			border-radius: 50%;
			z-index: 2;
			opacity: 0.3;
			box-shadow: 1px 1px 30px $bgc;
		}

		.pulse {
			position: absolute;
			margin-top: 10px;
			margin-left: -6px;
			@include wh(100%, 0);
			padding-bottom: 100%;
			border: 6px solid $bgc;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			z-index: 1;
			opacity: 0;
			-webkit-animation: warn 2s ease-out;
			-moz-animation: warn 2s ease-out;
			animation: warn 2s ease-out;
			-webkit-animation-iteration-count: infinite;
			-moz-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			box-shadow: 1px 1px 30px $bgc;
		}

		.pulse1 {
			position: absolute;
			margin-top: 10px;
			margin-left: -6px;
			@include wh(100%, 0);
			padding-bottom: 100%;
			border: 6px solid $bgc;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			z-index: 1;
			opacity: 0;
			-webkit-animation: warn1 2s ease-out;
			-moz-animation: warn1 2s ease-out;
			animation: warn1 2s ease-out;
			-webkit-animation-iteration-count: infinite;
			-moz-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			box-shadow: 1px 1px 30px $bgc;
		}
	}
	.login-btn {
		@include wh(100%, 40%);
		margin-top: 60px;
		.btn {
			@include wh(80%, 48px);
			background: #fff;
			color: $theme;
			line-height: 48px;
			text-align: center;
			border-radius: 24px;
			margin: 20px auto;
		}
	}

	.login-form {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -260px);
		@include wh(80%, 520px);
		padding: 100px 10px;
		box-sizing: border-box;
		z-index: 1995;
		background: #fff;
		border-radius: 10px;

		.username,
		.password {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include wh(100%, 48px);
			margin-bottom: 40px;
		}

		.auth {
			margin-left: 10px;
			background: $theme;
			@include sc($font_normal, #fff);
			line-height: 45px;
			border-radius: 5px;

			&.forbid {
				padding: 0 15px;
				background: $light-gray;
			}
		}

		.submit {
			background: $theme;
			@include sc($font_normal, #fff);
			line-height: 45px;
			border-radius: 5px;
			text-align: center;
		}

		.tips {
			margin-top: 30px;
			@include sc($font_normal, $gray);
			line-height: 22px;
		}

		.input {
			flex: 1;
			background: $bgc;
			line-height: 48px;
			padding: 0 10px;
			border-radius: 5px;
		}

		&.active {
			display: block !important;
		}
	}
}

@keyframes warn {
	0% {
		transform: scale(0.3);
		-webkit-transform: scale(0.3);
		opacity: 0;
	}
	25% {
		transform: scale(0.3);
		-webkit-transform: scale(0.3);
		opacity: 0.1;
	}
	50% {
		transform: scale(0.5);
		-webkit-transform: scale(0.5);
		opacity: 0.3;
	}
	75% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 0;
	}
}
@keyframes warn1 {
	0% {
		transform: scale(0.3);
		-webkit-transform: scale(0.3);
		opacity: 0;
	}
	25% {
		transform: scale(0.3);
		-webkit-transform: scale(0.3);
		opacity: 0.1;
	}
	50% {
		transform: scale(0.3);
		-webkit-transform: scale(0.3);
		opacity: 0.3;
	}
	75% {
		transform: scale(0.5);
		-webkit-transform: scale(0.5);
		opacity: 0.5;
	}
	100% {
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
		opacity: 0;
	}
}
