@import "../../styles/mixin.scss";
.m-square {
	.square-category {
		display: flex;
		margin-bottom: 5px;
		.cat-wrapper {
			display: inline-block;
			white-space:nowrap;
			overflow-x: scroll;
			overflow-y: hidden;
			span {
				display: inline-block;
				text-align: center;
				@include wh(60px, 100%);
				@include sc($font_normal, $gray);
				line-height: 24px;
			}
			&::-webkit-scrollbar {
				display: none;
			}
		}
		.iconfont {
			display: inline-block;
			padding: 5px;
			@include sc($font_huge, $gray);
		}
	}
}
