@import "../../styles/mixin.scss";

.m-header {
	display: flex;
	align-items: center;
	@include wh(100%, 36px);
	margin-bottom: 10px;
	.header-left,
	.header-right {
		flex: 0 0 5%;
		.iconfont {
			@include sc(24px);
		}
	}
	.cd-wrapper {
		@include avatar(24px, 24px);
		animation: circle-rotate 12s linear infinite;
		&.pause {
			animation-play-state: paused;
		}
	}
	.header-main {
		position: relative;
		@include wh(80%, 80%);
		flex: 1;
		text-align: center;
	}

	.header-title {
		@include sc($font_huge, $gray);
		line-height: 30px;
	}
}

// cd旋转
@keyframes circle-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
