@import "../../styles/mixin.scss";

.m-discover {
	.discover-btn {
		display: flex;
		a {
			display: flex;
			position: relative;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 33%;
			@include sc;
			.iconfont {
				@include avatar(48px, 48px);
				@include sc(32px, #fff);
				margin-bottom: 5px;
			}
			.btn-title {
				@include sc($font_normal, $gray);
				margin-top: 8px;
			}
			.today {
				@include center;
				@include sc($font_small, #fff);
				top: 36%;
			}
		}
	}

	.m-recommends {
		margin: 13px 0;
		.title {
			@include sc($font_small, $gray);
		}
		.subTitle {
			display: flex;
			justify-content: space-between;
			line-height: 18px;
			margin: 3px 0;
			.tips {
				@include sc($font_large, $black);
			}
			.more {
				padding: 3px 8px;
				border: 1px solid $light_gray;
				border-radius: 5px;
				@include sc($font_small, $gray);
			}
		}

		.recommends-wrapper {
			display: flex;
			flex-wrap: wrap;
			margin-top: 3px;
			.box-wrapper {
				width: 32%;
				margin-right: 2%;
				margin-bottom: 8px;
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}

	.search-box {
		@include wh(98%, 100%);
		@include sc;
		padding: 0 10px;
		box-sizing: border-box;
		background: $bgc;
		border-radius: 15px;
	}
}
