@import "../../styles/mixin.scss";
.music-footer {
	display: flex;
	height: 60px;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 25%;
		@include sc;
		.iconfont {
			@include sc(22px);
			margin-bottom: 5px;
		}
		&.active {
			color: $theme;
			.iconfont {
				color: $theme;
			}
		}
	}
}
