@import "../../styles/mixin.scss";

.m-mine {
	.mine-info {
		position: relative;
		@include wh(100%, 200px);
		.users {
			display: flex;
			align-items: center;
			margin: 15px 0;
			padding: 0 10px;
			.avatar-wrapper {
				@include avatar(48px, 48px);
				margin-right: 10px;
			}
			.name {
				@include sc($font_large, #fff);
				font-weight: 700;
				margin-bottom: 8px;
			}
			.level {
				@include sc($font_small, #fff);
				background: rgba(196, 192, 192, 0.603);
				border-radius: 8px;
				padding: 3px 5px;
				text-align: center;
			}
		}

		.mine-btn {
			display: flex;
			margin-top: 10px;
			p {
				display: flex;
				position: relative;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 25%;
				@include sc;
				.iconfont {
					@include sc(32px, #fff);
					margin-bottom: 5px;
				}
				.btn-title {
					@include sc($font_normal, #fff);
					margin-top: 8px;
				}
			}
		}

		.info-img {
			position: absolute;
			top: 0;
			left: 0;
			@include wh(100%, 100%);
			z-index: -1;
			transform: scale(1.2);
			filter: blur(8px);
		}
	}

	.mine-main {
		padding: 10px;
		border-radius: 10px;
		background: #fff;
		.title {
			@include sc($font_large, $black);
			line-height: 18px;
		}
		.like {
			display: flex;
			margin: 8px 0;
			.wrapper {
				position: relative;
				@include wh(100px, 160px);
				margin-right: 13px;
				.name {
					position: absolute;
					top: 50%;
					width: 100%;
					text-align: center;
					@include sc($font_normal, #fff);
				}
				.brief {
					position: absolute;
					bottom: 10px;
					width: 100%;
					text-align: center;
					@include sc($font_small, $light_gray);
				}
			}
		}

		.tabs {
			display: flex;
			margin: 8px 0;
			.tabs-item {
				@include sc($font_normal, $gray);
				line-height: 18px;
				margin-right: 10px;
			}
		}

		.playlist-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			.list-item {
				display: flex;
				align-items: center;
				@include wh(50%, 60px);
				.cover {
					flex: 0 0 50px;
					@include wh(50px, 50px);
					margin-right: 8px;
				}
				.info {
					flex: 1;
					.name {
						@include more;
						@include sc($font_small, $black);
						line-height: 14px;
						margin-bottom: 8px;
					}
					.count {
						@include sc($font_small, $gray);
					}
				}
			}
		}
	}
}
