@import "../../styles/mixin.scss";

.m-player {
	position: fixed;
	top: 0;
	left: 0;
	@include wh(100%, 100%);
	z-index: 1994;
	background: #fff;
	.player-title {
		display: flex;
		flex-direction: column;
		text-align: center;
		.name {
			@include sc($font_normal, #fff);
		}
		.singer {
			@include sc($font_small, #fff);
		}
	}

	.player-main {
		position: relative;
		@include wh(100%, calc(100% - 186px));
		padding: 20px 10px;
		box-sizing: border-box;
		.song-img {
			border-radius: 50%;
			overflow: hidden;
			margin: 50px;
		}
	}

	.player-footer {
		@include wh(100%, 150px);
		.player-operate,
		.player-btn {
			display: flex;
			.iconfont,
			a {
				flex: 1;
				@include sc(24px, #fff);
				text-align: center;
				padding: 10px;
			}
		}
		.player-progress {
			@include wh(100%, 50px);
		}
	}

	.bg-img {
		position: fixed;
		top: 0;
		left: 0;
		@include wh(100%, 100%);
		z-index: -1;
		filter: blur(30px);
		transform: scale(1.2);
	}

	.bg-gray {
		position: fixed;
		top: 0;
		left: 0;
		@include wh(100%, 100%);
		background: rgba(0, 0, 0, 0.2);
		z-index: -1;
		opacity: 0.5;
	}
}
