@import '../../styles/mixin.scss';

.banner-wrapper {
	position: relative;
	height: 100%;
	.slider-banner-scroll {
		height: 100%;
		overflow: hidden;
		.slider-banner-wrapper {
			height: 100%;
			white-space: nowrap;
			font-size: 0;
			.slider-item {
				display: inline-block;
				height: 100%;
				width: 100%;
				line-height: 200px;
				text-align: center;
				font-size: 26px;
				transform: translate3d(0, 0, 0);
				backface-visibility: hidden;
				@include wh(100%, 100%);
			}
		}
		.doc-wrapper {
			position: absolute;
			bottom: 4px;
			left: 50%;
			transform: translateX(-50%);
			.doc {
				display: inline-block;
				margin: 0 4px;
				border-radius: 50%;
				background: $gray;
				@include wh(8px, 8px);
				&.active {
					width: 20px;
					border-radius: 5px;
				}
			}
		}
	}
}
