@import "../../styles/mixin.scss";

.slide-wrapper {
	position: relative;
	@include wh(100%, 100%);
	overflow: hidden;

	.slide-group {
		.slide-item {
			float: left;
		}
	}

	.dots {
		position: absolute;
		bottom: 4px;
		left: 50%;
		transform: translateX(-50%);
		.dot {
			display: inline-block;
			margin: 0 4px;
			@include wh(8px, 8px);
			border-radius: 50%;
			background: $bgc;
			&.active {
				width: 20px;
				border-radius: 5px;
			}
		}
	}
}
