@import '../styles/mixin.scss';
.music-wrapper {
	position: relative;
	@include wh(calc(100vw - 16px), 100vh);
	padding: 0 8px;
	.music-main {
		width: 100%;
		height: calc(100% - 50px);
		overflow-x: hidden;
		overflow-y: auto;
	}
}
